{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="popover-title">Profil de l'entreprise</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.adresse }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entreprise.description }}</td>
            </tr>

            </tbody>
        </table>
    </div>

    <ul class="list-inline pull-right">
        <li >
            <a class="btn btn-info" href="{{ path('profile_ent_edit', { 'id': entreprise.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-warning" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
