{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questions</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ question.question }}</td>
            </tr>
            <tr>
                <th>Reponsea</th>
                <td>{{ question.reponseA }}</td>
            </tr>
            <tr>
                <th>Reponseb</th>
                <td>{{ question.reponseB }}</td>
            </tr>
            <tr>
                <th>Reponsec</th>
                <td>{{ question.reponseC }}</td>
            </tr>
            <tr>
                <th>Bonnereponse</th>
                <td>{{ question.bonneReponse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('questions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('questions_edit', { 'id': question.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
